@font-face {
    font-family: 'Corki-TuscanRounded';
    src: url('fonts/corki-tuscanrounded-webfont.eot');
    src: url('fonts/corki-tuscanrounded-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/corki-tuscanrounded-webfont.woff') format('woff'),
         url('fonts/corki-tuscanrounded-webfont.ttf') format('truetype'),
         url('fonts/corki-tuscanrounded-webfont.svg#corkituscan_rounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('fonts/HelveticaNeue-Light.eot');
    src: url('fonts/HelveticaNeue-Light.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeue-Light.woff') format('woff'),
         url('fonts/HelveticaNeue-Light.ttf') format('truetype'),
         url('fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('fonts/helveticaneue-medium-webfont.eot');
    src: url('fonts/helveticaneue-medium-webfont.eot') format('embedded-opentype'),
         url('fonts/helveticaneue-medium-webfont.woff') format('woff'),
         url('fonts/helveticaneue-medium-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue-medium-webfont.svg#helveticaneue-medium-webfont') format('svg');
}

html, body {width:100%;height:100%;padding:0;margin:0;}

.host-picker {
    overflow:hidden;
    display: block;
    height:100%;
}
.progress {
    position:relative;
    display:block;
    width:100%;
    height:40px;
}
.progress span {display:block;height:100%;background:#95c11f;
    -webkit-transition:width 0.2s;
}
.progress strong {
    display:block;
    position:absolute;left:0;top:0;
    width:100%;height:100%;
    line-height:40px;
    text-align:center;
    font-size:20px;
}
.host {
    float:left;
    display:block;
    width:200px;
    height:200px;
    background:#FFF;
    border-radius:100px;
    line-height:200px;
    text-align:center;
    font-size: 30px;
    color:#000;
}

.main {
    z-index: 0;
    min-height:100%;
    position:relative;
}

.center { text-align: center; }
.right { text-align: right; }

#header {
    background-color: #F5F5F5;
}

.block { 
    position: relative;
    margin: 12px 0px;
    height:44px;
}

.rule {
    margin: 20px 0;
}

.pipe, .graph {
    background: #F5F5F5;
}

.graph {
    height: 44px;
    width: 100%;
    position: absolute;
    left: 50%;
    top:0;
    z-index:-10;
}

.pipe {
    width: 44px;
    position: absolute;
    left: 50%;
    z-index: -11;
    border-bottom-right-radius: 44px;
    border-top-right-radius: 44px;
}

.name {
    color: #009fe3;
    height: 22px;
    width: 200%;
    position: absolute;
    top: 52px;
    z-index: -1;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    left: -50%;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

.output .name {
    color: #95c11f;
}

.converter .name {
    color: #e50051;
}

.decider .name {
    color: #951e80;
}

.inspector {
    color: #009fe3;
    height: 22px;
    width: 44px;
    position: absolute;
    left: -56px;
    top: -9px;
    z-index: -1;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: right;
    display:none;
}

.output .inspector {
    display:block;
    color: #95c11f;
    left: 56px;
    top: 7px;
    text-align: left;
}

h2 {font-family: 'Corki-TuscanRounded'; color: #009fe3; font-size: 29pt; font-weight: 100;}

.modal {
    background:rgba(0,0,0,0.95);
    position:absolute;
    border-radius:10px;
    padding:0px;
    display:block;
    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
    z-index:9001;
    width:450px;
    overflow:visible;
    right:auto;
    bottom:auto;
    padding-bottom:15px;
}

.modal span.arrow {
    content:'';
    display:block;
    position:absolute;
    border:25px solid transparent;
    border-bottom-color: rgba(0,0,0,0.95);
    margin:0;
}

.modal span.arrow.left {
    border-color: transparent;
    border-right-color: rgba(0,0,0,0.95);
}

.modal span.arrow.right {
    border-color: transparent;
    border-left-color: rgba(0,0,0,0.95);
}

.modal span.arrow.hidden {
    display:none;
}

.palette {
    z-index: 9000;
    display:block;
    overflow:hidden;
    width:90%;
    margin:0 auto;
}

.palette header, .help-content header {
    text-align:center;}
    
.palette ul {
    text-align:left;
    padding:0;
    margin:0;
    list-style: none;
    display:block;
    overflow:hidden;
}
.palette h2 {
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    color:#FFF;
    font-size:22pt;
}
.palette h2:after {
    content:'';
    height:4px;
    display:block;
    border-radius:2px;
    background:#FFF;
    margin-top:10px;
}

.palette h1, .help-content h1 {
    text-align:center;
    display:inline-block;
    font-size:34pt;
    padding:0px 25px;
    font-family:'Corki-TuscanRounded';
    margin:50px auto;
    background:#FFF;
    color:rgb(0,55,72);
    height:50px;
    line-height:50px;
    position:relative;
}

.palette h1:before, .palette h1:after, .help-content h1:before, .help-content h1:after {
    content: '';
    display: block;
    border-width:25px;
    border-color:#FFF;
    position:absolute;
    border-style:solid;
    top:0px;
}

.palette h1:before, .help-content h1:before {
    border-left-color:transparent;
    left:-25px;
}

.palette h1:after, .help-content h1:after {
    border-right-color:transparent;
    right:-25px;
}

.palette div {
    float:left;
    display:inline;
    margin-right:20px;
    margin-bottom:20px;
    overflow:hidden;
}
.modal .palette h2 {display:none;}
.modal .palette li {margin:0;}
.modal .palette {
    width:100%;
    margin:0;
}
.modal .palette div {
    margin-right:0px;
    margin-bottom:0px;
}

.palette h2 span {
    background:#FFF;
    color:#009fe3;
    width:30px;
    height:30px;
    border-radius:50%;
    float:left;
    display:block;
    text-align:center;
    font-size:80%;
    line-height:30px;
    margin-right:10px;
}
.palette li {
    position:relative;
    margin:0;padding:0;
    list-style:none;
    display:block;
    text-align:center;
    float:left;
    margin:20px 20px 0px 0px;
    width:90px;
    height:130px;
}
.palette li.hasOptions .label:after {
    content: '';
    display:block;
    width:0px;
    margin:0 auto;
    border:5px solid transparent;
    border-top-color: rgba(255,255,255,0.85);
}
.palette .icon {
    position:relative;
    width:70px;
    height:70px;
    display:block;
    border-radius:50%;
    background:transparent;
    margin:10px auto;
    /*box-shadow: 0px 0px 20px rgba(0,0,0,0.2);*/
    box-sizing: border-box;
}
.palette .icon img {max-width:100%;width:100%;height:auto;}
.palette .label {
    font-family: 'HelveticaNeue-Medium';
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2); 
    font-weight:bold;
    color:#FFF;
    font-size:11pt;
    font-weight: 100;
    white-space:inherit;
    display:block;
}

.fancybox-overlay {
    background:rgba(0,0,0,0.8);
}
.fancybox-outer, .fancybox-wrap, .fancybox-skin, .fancybox-inner {background:transparent;}
.fancybox-close {display:none;}
.fancybox-opened .fancybox-skin {background: transparent;-webkit-box-shadow:none;box-shadow:none;}
#rules .icon                    {top: 5px; left: 0px; width: 70px; z-index: 100; height: 70px; padding: 0px; position: absolute; display: inline-block; border-radius: 50%;  box-sizing: border-box;}
#rules .generators .icon, .generators .icon        {border-radius:10%;}

#rules .extended                {border-radius: 50% 50% 0 0;}
#rules .icon.empty              {background-color: #5c92a4 !important; box-shadow: inset 3px 3px 10px #4d8599;}

#rules .icon img {max-width:100%;width:100%;height:auto;}

#rules .widget                   {position: relative; width: 20%; padding: 10px 0px 10px 0px;}
/*#rules .widget canvas,
#rules .widget .canvas           {position: absolute; z-index: 10; top: 23px; left: 40px;border-radius:0px;width:100%;height:34px;}*/
#rules canvas          {

border-top-color:    rgba(255,255,255,0.9); /* strokeStyle */
border-bottom-color: rgba(255,255,255,0.1); /*  fillStyle  */

display:block;width:100%;height:44px;
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 47%, rgba(0,0,0,0.3) 48%, rgba(0,0,0,0.3) 52%, rgba(0,0,0,0) 53%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(47%,rgba(0,0,0,0)), color-stop(48%,rgba(0,0,0,0.3)), color-stop(52%,rgba(0,0,0,0.3)), color-stop(53%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 47%,rgba(0,0,0,0.3) 48%,rgba(0,0,0,0.3) 52%,rgba(0,0,0,0) 53%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 47%,rgba(0,0,0,0.3) 48%,rgba(0,0,0,0.3) 52%,rgba(0,0,0,0) 53%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 47%,rgba(0,0,0,0.3) 48%,rgba(0,0,0,0.3) 52%,rgba(0,0,0,0) 53%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 47%,rgba(0,0,0,0.3) 48%,rgba(0,0,0,0.3) 52%,rgba(0,0,0,0) 53%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#rules .generators canvas {
    border-top-color:    rgba(0, 159, 227, 0.9); /* strokeStyle */
    border-bottom-color: rgba(0, 159, 227, 0.2); /*  fillStyle  */
}
#rules .decider canvas {
    border-top-color:    rgba(149, 30, 128, 0.9); /* strokeStyle */
    border-bottom-color: rgba(149, 30, 128, 0.2); /*  fillStyle  */
}
#rules .converter canvas {
    border-top-color:    rgba(229, 0, 81, 0.9); /* strokeStyle */
    border-bottom-color: rgba(229, 0, 81, 0.2); /*  fillStyle  */
}

#rules .graph:after {
    content:'';
    display:block;
    width:100%;
    height:44px;
    position: absolute;
    top:0px;
    background: -moz-linear-gradient(left,  rgba(245,245,245,0) 0%, rgba(245,245,245,0) 44%, rgba(245,245,245,1) 97%, rgba(245,245,245,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(245,245,245,0)), color-stop(44%,rgba(245,245,245,0)), color-stop(97%,rgba(245,245,245,1)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(245,245,245,0) 0%,rgba(245,245,245,0) 44%,rgba(245,245,245,1) 97%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(245,245,245,0) 0%,rgba(245,245,245,0) 44%,rgba(245,245,245,1) 97%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(245,245,245,0) 0%,rgba(245,245,245,0) 44%,rgba(245,245,245,1) 97%,rgba(245,245,245,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(245,245,245,0) 0%,rgba(245,245,245,0) 44%,rgba(245,245,245,1) 97%,rgba(245,245,245,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00F5F5F5', endColorstr='#F5F5F5',GradientType=1 ); /* IE6-9 */
}




h2 .counts span {
    margin:5px;
    float:left;
    font-size:14pt;
    display:block;
    width:30px;
    height:30px;
    border-radius:50%;
    color:#FFF;
    text-align:center;
    line-height:30px;
    position:relative;z-index:1;
}

.counts i {
    font-style: normal;
    text-align: left;
    text-indent: 52px;
    margin-right: 50px;
}

.add-converter h2 {
    color: #e50051;
}

.add-output h2 {
    color: #95c11f;
}

.add-converter h2 i.deciders {
    color: #951e80;
}

.toggle i, .delete i {
    margin:5px;
}

.icon:before {
    display: block;
    font-family: 'flotilla';
    font-size: 70px;
    position: absolute;
    z-index: -1;
    line-height: 70px;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    left: 0px;
    top: 0px;  

    content: '\e603';
    color: inherit;
}

.variables .icon:before {
    content: '\e602';
    color: inherit;
}

.empty .icon:before {
    color:rgba(4, 72, 94, 1);
}

.counts .accelerometer:before,
.counts .light:before,
.counts .colour:before,
.counts .blue:before  {
    color:rgb(78, 192, 223);
}

.counts .motor:before,
.counts .orange:before {
    color: #f58670;
}
.counts .switch:before,
.counts .green:before {
    color: rgb(0, 177, 136);
}
.counts .slider:before,
.counts .dial:before,
.counts .joystick:before,
.counts .remote:before,
.counts .red:before {
    color: rgb(217, 77, 21);
}

.counts .tools:before {
    color: rgb(248,212,75);
}

.counts .empty:before,
.counts .general:before {
    color: #00b188;
}

#rules .off {opacity:0.5;}


@media( max-height: 650px ){
    .toolbar {position: absolute}
}

@media( max-width: 1280px ){

    h2 {
        font-size:29pt;
    }

    #rules .widget .title {
        font-size:8pt;
        padding-left:65px;
    }

    h2 .counts span {font-size:10pt;width:24px;height:24px;line-height:28px;}
    .counts span:before {font-size:24px;}


    /*.palette .icon,*/
    #rules .icon {
        height:55px;
        width:55px;
    }

    .palette h1, .help-content h2 {
        margin:20px auto;
        font-size: 20pt;
    }

    #rules .icon {
        top:13px;
    }

    #rules th {
        height:110px;
    }

    #rules .icon:before {
        font-size:55px;
        line-height:55px;
    }

}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    display: inline-block;
    background-size: 264px 199px;
}

.block .sprite {position: relative;}

.sprite-block-corner { 
    width: 44px;
    height: 44px;
    background: #333333;
    border-radius: 22px;
    top: -98px;
    position: absolute;
    padding-top: 98px;
    z-index: -5;
    left: 50%;
    margin-left: -22px;
}

.nudge .sprite-block-corner {
    top: -146px;
    padding-top: 146px;
}

.sprite-block-add {
    width: 44px;
    height: 44px;
    background-position: -2px -2px;
}

.sprite-block-converter {
    width: 52px;
    height: 45px;
    background-position: -50px -2px;
}

.sprite-block-decider {
    width: 54px;
    height: 46px;
    background-position: -106px -2px;
}

.sprite img {max-width:100%;width:100%;height:auto;}

.sprite-block-input {
    width: 44px;
    height: 44px;
    background-position: -164px -2px;
}

.sprite-block-output {
    width: 46px;
    height: 46px;
    background-position: -164px -50px;
}

.sprite-channel-delete {
    width: 34px;
    height: 34px;
    background-position: -2px -50px;
}

.sprite-channel-off {
    width: 34px;
    height: 34px;
    background-position: -2px -100px;
}

.sprite-channel-on {
    width: 34px;
    height: 34px;
    background-position: -40px -100px;
}

.sprite-icon-add-converter {
    width: 46px;
    height: 46px;
    background-position: -78px -100px;
}

.sprite-icon-add-decider {
    width: 47px;
    height: 46px;
    background-position: -129px -101px;
}

.sprite-icon-add-input {
    width: 46px;
    height: 46px;
    background-position: -2px -151px;
}

.sprite-icon-add-output {
    width: 46px;
    height: 46px;
    background-position: -52px -151px;
}

.sprite-icon-flotilla {
    width: 44px;
    height: 44px;
    background-position: -102px -151px;
}

.sprite-icon-label-converter {
    width: 47px;
    height: 46px;
    background-position: -150px -151px;
}

.sprite-icon-label-decider {
    width: 47px;
    height: 46px;
    background-position: -215px -3px;
}

.sprite-icon-label-input {
    width: 46px;
    height: 46px;
    background-position: -214px -53px;
}

.sprite-icon-label-output {
    width: 46px;
    height: 46px;
    background-position: -201px -103px;
}

.sprite-icon-load {
    width: 34px;
    height: 42px;
    background-position: -40px -53px;
}

.sprite-icon-save {
    width: 34px;
    height: 42px;
    background-position: -78px -53px;
}

.sprite-icon-setup {
    width: 40px;
    height: 34px;
    background-position: -116px -53px;
}
